<h1>Salesforce Signed Request Info</h1>

<h2>UserId</h2>

<%= session['signed_request']['userId'] %>

<h2>Client</h2>

<%= session['signed_request']['client'] %>

<h2>Context</h2>

<%= session['signed_request']['context'] %>